.dropdown:hover>.dropdown-menu{
    display: block;
}
.navbar.container-panel {
    width:60vw;
    /* margin-left: 760px; */
}
.carousel-item img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
}
.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }

    header .nav-link:hover{
        background-color: black;
    }