.dropdown:hover>.dropdown-menu{
    display: block;
}
.navbar.container-panel {
    width:60vw;
    /* margin-left: 760px; */
}
.carousel-item img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
}
.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    z-index: 999;
    }

    header .nav-link:hover{
        background-color: #FFF;
    }
    header .nav-link{
        color:black !important;
    }
    .card-group{
        color:black !important
    }
    .section-3 .card i{
        font-size: 5vh;
        color:rgba(--var(--bs-dark))!important;
    }
    .section-5 .row, .section-5 .list-group .list-group-item{
        color: rgba(--var(--bs-dark))!important;
    }
    .dropdown-item:hover{
        background-color: black;
        color:#FFF
    }
    .useful_links{
        min-height: 20rem !important;
        max-height: 20rem !important;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden ul::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden ul{
    -ms-overflow-style: none !important;
    scrollbar-width: none !important; /* Firefox */
  }
video source{
    height: min-content !important;
}
/* media queries */
/* Large desktops and laptops */
@media (min-width: 1200px) {
    /* *{
        font-size: x-large;
    } */
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /* *{
        font-size: large;
    } */
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    /* *{
        font-size: small;
    } */
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    /* *{
        font-size: x-small;
    } */
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    /* *{
        font-size: xx-small;
    } */
}
